/*Gift Mohuba 23545527*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}
.banner{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: x-large;
}
.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: lightgray;
}
.product-holder {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
}
.product-holder:hover {
    transform: scale(1.05);
}
.product-actios {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.wishlist-btn, .cart-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
  }
  .wishlist-btn {
    background: #ff4d4d;
    color: white;
}

.cart-btn {
    background: #007bff;
    color: white;
}

.wishlist-btn:hover {
    background: #ff1a1a;
}

.cart-btn:hover {
    background: #0056b3;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit:scale-down;
    border-radius: 10px;
}
h3 {
    font-size: 25px;
    margin: 10px 0;
    color: #333;
}
p {
    font-size: 18px;
    color: #007bff;
}
.initial-price {
    text-decoration: line-through;
    color: gray;
    font-size: 1rem;
    margin-right: 10px;
}

.final-price {
    color: #0056b3; 
    font-size: 1.2rem;
    font-weight: bold;
}

.discount {
    color: #007bff; 
    background-color: #f0f8ff; 
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px;
}